/* @import url('https://fonts.googleapis.com/css2?family=Foldit&display=swap'); */
p{
    /* font-family: 'Foldit', cursive; */
    /* font-family: 'Caveat', cursive; */
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}
h1{
    font-stretch: condensed;
}