a:link{
    color: yellow;
}
a:active{
    color: aqua;
}
a:visited{
    color: rgb(126, 4, 25);
}
div{
    height: 100px;
    width: 100px;
    border: 2px solid red;
    background-color: chartreuse;
}
div:hover{
    height: 200px;
    width: 200px;
    border: 4px solid chartreuse;
    background-color: red;
    transition:all 1.0s ease-in;
}
input:focus{
    background-color: aqua;
    color: fuchsia;
}

ul li:first-child{
    color: yellowgreen;
}
ul li:last-child{
    color: teal;
}
ul li:nth-child(even){
    color: brown;
    background-color: cyan;
}
section p{
    color: tomato;
}
section section p:only-child{
    color: violet;
}