*{
    box-sizing: border-box;
    
}
/* div{
    width: 100px;
    height:100px;
    background-color: aqua;  */
    /* position: fixed; */
    /* position: sticky;
    top: 0px;  */
    /* top: 400px;
    left: 800px; */
    /* bottom: 140px;
    right: 150px; */
/* }  */

 .container{
    width: 500px;
    height: 500px;
    border: 1px solid red;
    margin: 50px 200px;
    position: relative;
}

/*.container > div:first-child{
    width: 100px;
    height: 100px;
background-color: aquamarine; */
/* position: relative;
top: 100px;
left: 150px; */
/* position: absolute;
top: 200px;
left: 200px;
}
.container > div:nth-child(2){
    width: 100px;
    height: 100px;
background-color: rgb(34, 255, 0);
}
.container > div:last-child{
    width: 100px;
    height: 100px;
background-color: rgb(17, 0, 255);
} */


/* .container > div:first-child{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    position: absolute;
    top: 180px;
    left: 100px;
    z-index: 5;
}
.container > div:nth-child(2){
    width: 100px;
    height: 100px;
    background-color: rgb(21, 255, 0);
    position: absolute;
    top: 140px;
    left: 140px;
    z-index: 4;
}
.container > div:nth-child(3){
    width: 100px;
    height: 100px;
    background-color: rgb(255, 238, 0);
    position: absolute;
    top: 100px;
    left: 180px;
    z-index: 3;
}
.container > div:nth-child(4){
    width: 100px;
    height: 100px;
    background-color: rgb(1, 39, 227);
    position: absolute;
    top: 60px;
    left: 220px;
    z-index: 2;
}
.container > div:last-child{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 225);
    position: absolute;
    top: 20px;
    left: 260px;
    z-index: 1;
} */

/* .container > img:first-child{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 120px;
    left: 50px;
    z-index: 3;
}
.container > img:nth-child(2){
    width: 550px;
    height: 400px;
    position: absolute;
    top: 60px;
    left: 80px;
}
.container > img:last-child{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 120px;
    left: -50px;
    transform: rotate(-45deg);
} */
/* 
h1{
    border: 2px solid red;
    padding: 10px 20px;
} */