div{
    /* background-color: rgb(249, 217, 157); */
    color: rgb(10, 53, 10);
}
div>form{
    position: relative;
    left: 450px;
}
hr{
    color: rgb(10, 53, 10);
}
.Wbox{
    width: 340px;
    height:25px
}
.button{
    position: relative;
    left: 100px;
}
body{
    background-color: rgba(245, 164, 127, 0.616);
    width: 100vh;
    height: 100vh;
}