*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
.container{
    /* height:200px; */
    width:350px;
    display: flex;
    background-color: rgb(237, 229, 76);
}
.items{
    height:100px;
    width: 100px;
    margin: 2px;
    /* flex:1; */
}
.item1{
    background-color: aqua;
    /* flex-grow: 2; */
    flex-shrink: 5;

}
.item2{
    background-color: yellow;
    flex-shrink: 2;
}
.item3{
    background-color: tomato;
}
.item4{
    background-color: chartreuse;
}
.item5{
    background-color: silver;
}